@{
    ViewData["Title"] = "Serviços Administrativos";
}


<header>
    <div class="container" style="height: 80px;">
        <div class="row">
            <div class="col-12">
                <h3>Serviços Administrativos</h3>
            </div>
        </div>
    </div>
</header>

<content>
    <div class="text-center">
        <div class="container">
            <div class="row">                
                <div class="col-md-4 offset-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Portal" asp-action="Projetos">Projetos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</content>
