@{
    ViewData["Title"] = "IPTU / ITR";
}

<header>
    <div class="container" style="height: 80px;">
        <div class="row">
            <div class="col-12">
                <h3>Consulta IPTU / ITR</h3>
            </div>
        </div>
    </div>
</header>

<content>
    <div class="container" style="height:auto">
        <div class="row">
            <div class="col-12" >
                <form asp-action="PesquisaIptuItr" method="post">
                    <label>CPF / CNPJ:</label>
                    <input type="text" maxlength="14" id="cpfcnpj" placeholder="Entre com CPF ou CNPJ" name="CpfCnpj" required />
                    <button class="btn-primary">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>

</content>