@model SGM_MVC.Models.Authentication.User
@{
    ViewData["Title"] = "Login";
}

    <header>
        <div class="container" style="height: 80px;">
            <div class="row">
                <div class="col-12">
                    <h3>Portal Administrativo</h3>
                </div>
            </div>
        </div>
    </header>
    <content>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 p-3 my-3 border">
                <form method="post" asp-action="Autenticar" class="was-validated">
                    <div class="form-group">
                        <label for="uname">Usuário:</label>
                        <input type="text" class="form-control" id="idLogin" placeholder="Entre com usuário" name="login" required min="6">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Senha:</label>
                        <input type="password" class="form-control" id="idPwd" placeholder="Entre com a senha" name="password" required min="6">
                    </div>
                    <div>
                        @if (null != @ViewData["MessageError"])
                        {
                            <p>
                                <strong>Erro: @ViewData["MessageError"]</strong>
                            </p>
                        }
                        @if (@ViewData["MessageError"] is null && Model.Id is null)
                        {
                            <p>
                                <strong>Usúario ou senha invalidos:</strong>
                            </p>
                        }
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </content>
   